<h2>Control Panel</h2>
<div class="row">
  <div class="col-md-3">
    <a href="/admin/add" class="btn btn-primary">Add Article</a>
  </div>
  <div class="col-md-9">
    {{#each articles}}
    <div class="row">
      <div class="col-xs-12 single-article">
        <h3>
          {{title}}</h3>
        <span><i>posted on {{date}}</i></span><br/>
        <span><small>from <b>{{author.username}}</b></small></span>
        <p>{{description}}</p>
        <a href="/admin/edit/{{_id}}" class="btn btn-success">Edit</a>
        <a href="/admin/delete/{{_id}}" class="btn btn-danger">Delete</a>
      </div>
    </div>
    <hr>
    {{/each}}
  </div>
</div>