<div class="row">
  <div class="col-md-8 single-article">
    <h3>{{article.title}}</h3>
    <span><i>posted on {{article.date}}</i></span><br/>
    <span><small>from <b>{{article.author.username}}</b></small></span>
    <p>{{article.description}}</p>
    {{#if article.canEdit}}
    <a href="/article/edit/{{article._id}}" class="btn btn-primary">Edit</a>
    {{/if}}
  </div>
</div>