<div class="row">
  <div class="col-md-3">
    <h3>Sort by Date:</h3>
    <ul>
      <li><a href="/article/list?sort=desc&page={{queryString.page}}">Recent</a></li>
      <li><a href="/article/list?sort=asc&page={{queryString.page}}">Oldest</a></li>
    </ul>
  </div>
  <div class="col-md-9">
    {{#each articles}}
    <div class="row">
      <div class="col-xs-12 single-article">
        <h3>
          {{title}}</h3>
        <span><i>posted on {{date}}</i></span><br/>
        <span><small>from <b>{{author.username}}</b></small></span>
        <p>{{description}}</p>
        {{#if showDetails}}
        <a href="/article/details/{{_id}}">Details</a> {{/if}}
      </div>
    </div>
    {{/each}}
  </div>
</div>
{{#if totalPages}}
<div class="row">
  <div class="col-md-offset-3 col-md-9">
    <ul class="pagination">
      {{#each totalPages}}
      <li><a href="/article/list/?page={{this}}">{{this}}</a></li>
      {{/each}}
    </ul>
  </div>
</div>
{{/if}}